<div class="modal" tabindex="-1" role="dialog" id="kkb_modal_form" style="z-index: 5000;">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <%= form_with(model: @kkb, remote: true) do |form| %>
        <div class="modal-header">
          <h5 class="modal-title"><%= @title %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <% if @kkb.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@kkb.errors.count, "error") %> prohibited this kkb from being saved:</h2>

              <ul>
                <% @kkb.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <%= form.hidden_field :user_id %>
          <%= form.hidden_field :status %>

          <div class="form-group">
            <%= form.collection_select :kkb_category_id, KkbCategory.all, :id, :name,
                                       {prompt: '-- カテゴリ --'},
                                       {class: 'form-control'} %>
          </div>

          <div class="form-group">
            <%= form.text_field :title, placeholder: 'タイトル', class: 'form-control' %>
          </div>

          <div class="field">
            <%= form.rich_text_area :content, {style: 'min-height: 400px;'} %>
          </div>

          <div class="field">
            <%= form.label :openness %>
            <%= form.check_box :openness %>
          </div>
        </div>
        <div class="modal-footer">
          <%= form.submit 'Save', class: 'btn btn-primary' %>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
