<!DOCTYPE html>
<html>
  <head>
    <title>Kkb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <div id="react_app"></div>
    <div id="rails_app"></div>
    <%= javascript_pack_tag 'index' %>
    <footer>
      <% if user_signed_in? %>
        <%= current_user.name_with_code %> |
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, :class => 'navbar-link', :target => '_top'  %>
      <% end %>
    </footer>
  </body>
</html>
